<h1 class='title'>Hello there</h1>

<div class='flex btn-container'>
  <!-- Note: This were link_to. method:'get' is necessary -->
  <%= button_to 'All contacts', contacts_path, method:'get', class:'link_btn' %>
  <%= button_to 'New Contact', new_contact_path, method:'get', class:'link_btn' %>
</div>