// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Title */

.title {
  text-align: center;
}

.btn-container {
  justify-content: center;
}

.link_btn {
  cursor: pointer;
  font-size: 15px;
}
